body{background-color: #a4b5ec;
    text-align: center;
}

h1{color: rgb(103, 29, 29);
    text-align: center;
}

h1{text-decoration: underline
    text-align: center;;
background-color: rgb(234, 240, 225);}

h2{text-decoration: underline
    text-align: center;;
color:rgb(103, 29, 29);
background-color: rgb(238, 216, 240);}

h3{
text-decoration-line: underline;
text-align: center;
color: rgb(103, 29, 29);}

img {
    border: 5px solid rgb(46, 22, 166);}


body{
    border: 5px solid rgb(228, 172, 111);
}

